.menu{
    /* background-color: red; */
    padding: 10px 10%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(228, 228, 228);
}
.li{
    display: inline-block;
    /* background-color: white; */
    margin: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: .3s;
}
.li:hover{
    background-color: #f3f3f4;
}
.carrito{
    /* background-color: white; */
    display: flex;
    padding: 5px;
    border-radius: 3px;
    transition: .3s;
    cursor: pointer;
}
.carrito:hover{
    background-color: #f3f3f4;
}

@media( max-width: 900px ){
    .menu{
        padding: 5px 15px;
    }
    .li{
        display: none;
    }
}